body{
    background-color: bisque;
}

h1{
    color: blue;
    text-align: center;
    font-size: 50px;
}

h2{
    color: black;
    text-align: center;
    font-size: 30px;
}

a{
    text-decoration: none;
    font-size: 18px;
}

img{
    width: 600px;
    height: auto;
}
